<%- include('../partials/header.ejs') %>
<body>
    <%- include('../partials/navbar.ejs') %>
    <div class="container">
        <div class="card mt-3">
            <div class="card-header">
                <h2>Edição de Categoria</h2>
            </div>
            <div class="card-body">
                <form method="POST" action="/categoria/update">
                    <input type="hidden" name="id" value="<%= category[0].id %>">
                    <input type="text" name="name" id="name" class="form-control mb-3" placeholder="Nome da Categoria..." value="<%= category[0].nome %>">

                    <button type="submit" class="btn btn-success">Atualizar</button>
                </form>
            </div>
        </div>
    </div>
</body>
<%- include('../partials/footer.ejs') %>