<%- include('../partials/header.ejs') %>
<body>
    <%- include('../partials/navbar.ejs') %>
    <div class="container">
        <h2 class="mt-3">Todas as categorias</h2>
        <a href="categoria/nova" class="btn btn-success mt-3">Criar nova categoria</a>

        <table class="table table-bordered table-hover mt-4">
            <thead class="bg-danger text-light">
                <th>Nome</th>
                <th>Slug</th>
                <th>Ações</th>
            </thead>
            <tbody>
                <% categories.forEach(category => { %>
                    <tr>
                        <td><%= category.nome %></td>
                        <td><%= category.slug %></td>
                        <td>
                            <a href="categoria/update/<%= category.id %>" class="btn btn-warning">Editar</a>

                            <form action="/categoria/delete" method="post" onsubmit="confirmarDelecaoCategoria(event, this)" style="display: inline;">
                                <input type="hidden" name="id" value="<%= category.id %>">
                                <button type="submit" class="btn btn-danger">Excluir</button>
                            </form>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</body>
<script src="/script/deleteItem.js"></script>
<%- include('../partials/footer.ejs') %>