<%- include('../partials/header.ejs') %>
<link rel="stylesheet" href="/css">
<body>
    <%- include('../partials/navbar.ejs') %>
    <div class="container">
        <h3 class="mt-3">Ranking geral</h3>

        <table class="table table-hover table-bordered table-secondary mt-4">
            <thead class="thead-dark">
                <th style="width: 20px;">Posição</th>
                <th>Usuário</th>
                <th>Acertos</th>
                <th>Questões</th>
                <th>Aproveitamento</th>
            </thead>
            <tbody>
                <% resultado.forEach((result, index) => { %>            
                    <tr>
                        <td> <%= index + 1 %>º </td>
                        <td> <%= result.player.nome %> </td>
                        <td> <%= result.acertos %> </td>
                        <td> <%= result.questoes %> </td>
                        <td> <%= result.aproveitamento %>% </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
        

        
            <div class="col">

            </div>
            <div class="col">
                
            </div>
            <div class="col">
                
            </div>
            <div class="col">
                
            </div>
            <div class="col">
                
            </div>
    </div>
</body>
<%- include('../partials/footer.ejs') %>